/*Fonts*/
.bree-serif-regular {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.showcase-item-text {
  font-family: "Bree Serif", serif;
  font-weight: 200;
  font-style: normal;

  text-align: center;
  font-size: 3rem;
}

.big-shoulders-display {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
/* Hover on images */
.bottom-home-container img:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

/*Log & Navbar*/
#logo {
  font-weight: 600;
  font-size: 2rem;
  padding: 5px;
  padding-right: 30px;
  display: flex;
  align-items: flex-start;
}

.navbar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: gray;
  text-decoration: none;
  padding: 15px;
  margin: 5px;
  display: block;
}

.navbar a:hover {
  color: darkslategray;
}

.navbar li {
  float: left;
}

/* Header */
header {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0%;
}

li {
  margin-right: 3rem;
}

/* */
body {
  overflow-x: hidden;
}

.top-container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  background-color: rgb(255, 255, 255);
}

.mid-home-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  height: 100vh;
  width: 100%;
  margin: 0;

  background: linear-gradient(
      to right,
      burlywood 15%,
      rgba(245, 245, 220, 0) 60%
    ),
    url("../img/furniture1.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 40px;
}

.home-title {
  color: white;
  font-size: 60px;
  width: 300px;
}

.home-text {
  color: aliceblue;
  font-size: 20px;
  width: 300px;
}

.showcase-container {
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

/* Featured items Homepage */

.bottom-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;

  text-align: center;
  width: 100%;

  height: 70vh;
  margin: 0;
  margin-bottom: 0;

  background: bisque;
}

.featured-item-title {
  font-size: 40px;
  color: black;

  text-decoration: underline;
  text-align: center;

  margin-bottom: 50px;
}

.showcase-container-home {
  place-items: center;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;

  margin: 0 auto;
}

.mid-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: tomato;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  background-color: rgb(0, 0, 0);
}

/*Product page*/

.container1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}

.pDuct {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
}

.add-cart {
  position: absolute;
  width: 100%;
  background-color: darkgrey;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

.pDuct:hover .cart1,
.pDuct:hover .cart2,
.pDuct:hover .cart3,
.pDuct:hover .cart4,
.pDuct:hover .cart5,
.pDuct:hover .cart6,
.pDuct:hover .cart7,
.pDuct:hover .cart8,
.pDuct:hover .cart9,
.pDuct:hover .cart10 {
  bottom: 90px;
  opacity: 1;
  padding: 20px;
  text-decoration: none;
}

.pDuct img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
/*Product 1 classes*/

.p1-card {
  max-width: 1100px;
  margin: 0 auto;
}

.sofa-img {
  width: 100%;
  display: block;
}

.p1-img-display {
  overflow: hidden;
}

.p1-img-showcase {
  display: flex;
  width: 700px;
  transition: all 0.5s ease;
  height: 700px;
}

.p1-img-showcase img {
  min-width: 100%;
}

.p1-title {
  font-family: "Big Shoulders", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  position: relative;
}

.p1-rating {
  font-size: 1.5rem;
  color: #d8c813;
}

.p1-rating span {
  font-family: "Big Shoulders", sans-serif;
  color: #000000;
}

.p1-price {
  font-family: "Big Shoulders", sans-serif;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.old-price span {
  color: red;
  text-decoration: line-through;
}

.new-price span {
  color: rgb(23, 98, 168);
}

.p1-detail h2 {
  font-family: "Big Shoulders", sans-serif;
  text-transform: capitalize;
  padding-bottom: 0.6rem;
}

.p1-detail p {
  font-weight: 200;
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}

.purchase-info input,
.purchase-info .button {
  border: 1.5px solid #cecdcd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.purchase-info input {
  width: 60px;
}

.purchase-info .button {
  color: white;
  cursor: pointer;
  background-color: rgb(23, 98, 168);
}

.purchase-info .button:hover {
  opacity: 0.8;
}

/* Main */
body {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  overflow-x: hidden; /* Prevents unwanted horizontal scrolling */
}

/* Shopping Cart / Checkout */

/*Footer*/
.footer-container {
  height: 150px;
  width: 100%;
  padding: 50px 0;
  background-color: darkslategrey;
  color: white;
  display: flex;
  justify-content: center;

  gap: 10rem;
}

.footer-container div {
  text-align: center;
}

.footer-container div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-align: center;
}

.footer-container div a {
  color: lightsteelblue;
  display: block;
  text-decoration: none;
  text-align: center;
}

.footer-container a:hover {
  color: white;
}

/*Media querys*/

@media screen and (max-width: 1000px) {
  .showcase-container {
    grid-template-columns: 1fr 1fr;
  }

  .showcase-img {
    height: 300px;
    width: 300px;
  }

  .showcase-img-home {
    height: 120px;
    width: 120px;
  }

  .featured-item-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 660px) {
  .showcase-container {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .showcase-img {
    height: 300px;
    width: 300px;
  }

  .footer-container {
    gap: 5rem;
  }

  .cart-info p {
    display: none;
  }
}
