/*Fonts*/

/*Logo*/
#logo {
  font-weight: 600;
  font-size: 2rem;
  padding: 5px;
  padding-right: 30px;
  display: flex;
  align-items: flex-start;
}

.navbar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: gray;
  text-decoration: none;
  padding: 15px;
  margin: 5px;
  display: block;
}

.navbar a:hover {
  color: darkslategray;
}

.navbar li {
  float: left;
}

/* Header */
header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0%;
}

li {
  margin-right: 3rem;
}

/* */
.top-container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.mid-home-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  height: 100vh;
  margin: 0;

  background: linear-gradient(
      to right,
      burlywood 30%,
      rgba(245, 245, 220, 0) 50%
    ),
    url("../img/furniture1.jpg");

  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.mid-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
/* Main */

/*Footer*/
/**/
